.inscription-container{
    height: 100vh;
    padding:100px 0px ;
    z-index: 999;
    background:url('../../assets//images/connexion/plante2.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

.inscription-form-container{
    width:25rem;
    margin:auto;
    padding:2rem;
    margin-top:5rem;
    transition:transform ease-in-out 0.5s;
    -webkit-transition:transform ease-in-out 0.5s;
    -moz-transition:transform ease-in-out 0.5s;
    -ms-transition:transform ease-in-out 0.5s;
    -o-transition:transform ease-in-out 0.5s;
}

.inscription-form-container:hover{
    transform:translateY(10px);
    -webkit-transform:translateY(10px);
    -moz-transform:translateY(10px);
    -ms-transform:translateY(10px);
    -o-transform:translateY(10px);
}

.inscription-img{
    width:10rem;
    height:8rem;
}

.inscription-input,.inscription-button{
    height:3rem;
}

.inscription-button{
    background: #4a7e55;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}
.inscription-button:hover{
    background: #2a4d32;
}