

.panel-culture-card {
    transition: all 0.5s ease;
}

.panel-culture-card:hover{
    transform: scale(1.04);
    cursor: pointer;
}

.panel-culture-card-text{
    
  padding: 1.5rem 2em;
}

.panel-culture-card-text h4{
    font-size: 25px;
    display: block;
    color: #066e23;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 1.4;
    padding: 20px 0px;
}

.panel-culture-card-text .p-content{
  background-color: #fff;
  height:5rem;
}
.panel-culture-card-text .p-content p{
    font-size: 14px;
    color: #333333;
    font-weight: 500;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.panel-culture-footer{
    
    padding: 0px 2em;
  }
  

.panel-culture-btn-content{
    padding: 1rem 2em;
}

.panel-culture-btn-content button{
    padding: 0.8rem 3em;
    background: #066e23;
    color: #fff;
}


.panel-culture-btn-content button:hover{
    padding: 0.8rem 3em;
    background: #043612;
    color: #fff;
}

